name: Scrape and Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: '30 4-23/6 * * *'

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        if [ -f "requirements.txt" ]; then
          pip install -r requirements.txt
        fi

    - name: Install Playwright browsers
      run: |
        pip install playwright
        python -m playwright install --with-deps

    - name: Setup secrets
      run: |
        echo "${{ secrets.WENKU_COOKIES }}" > COOKIE
        echo "STEEL_API_KEY=${{ secrets.STEEL_API_KEY }}" > .env
    
    - name: Run main.py
      run: |
        python main.py

    - name: Setup Pages
      uses: actions/configure-pages@v5
      if: github.event_name == 'push' || success()

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      if: github.event_name == 'push' || success()
      with:
        path: './docs'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
      if: github.event_name == 'push' || success()
